// @ File Name : BackGround.scss
// @ Author : jopemachine
// @ Team : team ⓒ EV for BottomUp
// @ Created : 2019-08-01, 21:50:07

$backgroundColor : #e3e3e3;
$backgroundImage : '../img/space_edit.jpg';

#Background {
  background: url($backgroundImage) repeat-x fixed;
  background-color: $backgroundColor !important;
}
