// @ File Name : RegisterURL.scss
// @ Author : jopemachine
// @ Team : team ⓒ EV for BottomUp
// @ Created : 2019-07-22, 14:02:20

@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import "TopNavbar.scss";
@import "BottomFixedNavbar.scss";
@import "Background.scss";

@mixin overall-Font-Style{
	font-family: 'Jeju Gothic';
}

* {
  box-sizing: border-box;
	outline: none !important;
}

footer{
  color: #ffffff;
  width: 100%;
}

textarea{
  width: 100%;

	&:focus {
	  background-color: #ffffff;
	  color: black;
	}

	&:not(focus){
	  background-color: #dce3ef;
	}
}

.service{
	background-color: #ffffff !important;

	&:hover{
		background-color: #ebebeb !important;
		transition: background-color .3s;
	}
}

.roomDelete_btn{
  border: none;
  background-color: #e9ecef;
}

.dropdown-menu a:hover{
	background-color: #666666 !important;
	color: #ffffff !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.jumbotron{
  margin-top: 15px;
  width: 100%;

	padding: {
		top: 10px;
		bottom: 10px;
	}

	h1{
	  font-size: 28px;
	  @include overall-Font-Style;
	}
}

.MessageContent{
	font: {
		size: 16px;
	}
	@include overall-Font-Style;
}

.Buttons{
	font: {
		size: 14px;
	}
	@include overall-Font-Style;
}

.dropdown-toggle::after {
  content: none;
}

.stikyFooter{
  position: sticky;
  display: block;
  bottom: 0px;
  left: 0px;
}

#Header {
  color: #ffffff;
	padding: {
		top: 7px;
		bottom: 7px;
	}
  margin-bottom: 10px;
}

#NoServiceWarning{
	font: {
		size: 12pt;
	}
  text-align: center;
	@include overall-Font-Style;
}

#Modal_USER_ID{
  display: inline;
	@include overall-Font-Style;
}

#Modal_SIGNUP_DATE{
  display: inline;
  @include overall-Font-Style;
}

#userDefaultProfile{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#smallModal{
  padding: 15px;
  background-image: url("../img/userProfileBackImage.png");
}

#FooterDiv{
  margin-top: 70px;
}

#WhiteSpaceForResponsivePage{
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 766px) {
  .responsive{
    display: none;
  }
  .responsiveNone{
    display: none;
  }
  .responsiveNone2{
    display: default;
  }
  .responsiveNone2 *{
    display: default;
  }
}

@media screen and (min-width: 767px) {
  .responsive{
    display: default;
  }
  .responsiveNone{
    display: default;
  }
  .responsiveNone2{
    display: none;
  }
  .responsiveNone2 *{
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .responsiveSmall{
    display: none;
  }
  .responsiveSmallReverse{
    display: default;
  }
}

@media screen and (min-width: 581px) {
  .responsiveSmallReverse{
    display: none;
  }
}
